body {
  background: white;
}
nav {
  background-color: #f2f2f2;
  color: black;
}
a.navbar-brand {
  color: black;
}
a.navbar-brand:hover {
  color: #0e9bc2;
}
a:hover {
  color: #0e9bc2;
}
a {
  color: black;
}
h1,
h4 {
  color: white;
}
h1 {
  margin-top: 4rem;
}
.navbar-brand {
  font-family: "Righteous", cursive;
}
.submit {
  margin-bottom: 10px;
}
p {
  padding: 7px;
  font-size: 1.5rem;
  color: white;
}
p.lead {
  font-size: 1.5rem;
  font-weight: 400;
}
h4#numLp {
  display: none;
  margin-bottom: 2rem;
}
h4#numBp {
  display: none;
  margin-bottom: 2rem;
}
#jombo .btn {
  color: white;
}
.lotto-bg {
  background: #fad919;
}
.power-bg {
  background: #069edb;
}

.btn {
  font-size: 20px;
}

div#see-lotto {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  text-align: center;
  background: #fad919;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 26px;
  margin-bottom: 16px;
  margin-top: 16px;
}
div#see-lotto-special {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  text-align: center;
  background: white;
  border: 3px solid #fcf485;
  border-radius: 50%;
  margin-left: 26px;
  margin-bottom: 16px;
  margin-top: 16px;
}
p#numL6 {
  color: #fad919;
}
div#see-power {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  text-align: center;
  background: #069edb;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 26px;
  margin-bottom: 16px;
  margin-top: 16px;
}
div#see-power-special {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  text-align: center;
  background: white;
  border: 3px solid #64ccf5;
  border-radius: 50%;
  margin-left: 26px;
  margin-bottom: 16px;
  margin-top: 16px;
}
div#lotto {
  margin: auto;
}
div#powerb {
  margin: auto;
}
div#numbers {
  display: inline-block;
}
.btn#lotto,
.btn#powerb {
  display: block;
  margin: auto;
}
p#numB6 {
  color: #069edb;
}
.lead a {
  color: blue;
  text-decoration: underline;
}
section.jumbotron {
  height: 100vh;
  background-image: url(lotto.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.card {
  background: #fad919;
}

div {
  float: none;
  display: block;
}

.btn#clearL {
  font-size: 16px;
  display: none;
}
.btn#clearB {
  font-size: 16px;
  display: none;
}
@media (max-width: 1199.98px) {
  div#see-power {
    margin-left: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-power-special {
    margin-left: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-lotto {
    margin-left: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-lotto-special {
    margin-left: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

/*@media (max-width: 320px) {
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 20px;
    padding: 0px;
  }
  div#see-power {
    width: 42px;
    height: 42px;
    font-size: 3px;
    margin-left: 5px;
    margin-bottom: 9px;
    margin-top: 9px;
  }
  div#see-power-special {
    width: 42px;
    height: 42px;
    font-size: 3px;
    margin-left: 5px;
    margin-bottom: 9px;
    margin-top: 9px;
  }
  div#see-lotto {
    width: 42px;
    height: 42px;
    font-size: 3px;
    margin-left: 5px;
    margin-bottom: 9px;
    margin-top: 9px;
  }
  div#see-lotto-special {
    width: 42px;
    height: 42px;
    font-size: 3px;
    margin-left: 5px;
    margin-bottom: 9px;
    margin-top: 9px;
  }
}*/
@media (max-width: 768px) {
  p.lead {
    font-size: 1.5rem;
  }
  #numbers p {
    font-size: 25px;
    margin-top: -7px;
  }
  @media (max-width: 575px) {
    section.jumbotron {
      margin-bottom: 0 !important;
    }
    div.row {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }
  }
  div#see-power {
    width: 48px;
    height: 48px;
    margin-left: 9px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-power-special {
    width: 48px;
    height: 48px;
    margin-left: 9px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-lotto {
    width: 48px;
    height: 48px;
    margin-left: 9px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-lotto-special {
    width: 48px;
    height: 48px;
    margin-left: 9px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 2.5rem;
  }
  p.lead {
    font-size: 23px;
  }
  #numbers p {
    font-size: 24px;
    margin-top: -6px;
  }
  section.jumbotron {
    margin-bottom: 0 !important;
  }
  div.row {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  div#see-power {
    width: 48px;
    height: 48px;
    margin-left: 0px;
    margin-right: 9px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-power-special {
    width: 48px;
    height: 48px;
    margin-left: 0px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-lotto {
    width: 48px;
    height: 48px;
    margin-left: 0px;
    margin-right: 9px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-lotto-special {
    width: 48px;
    height: 48px;
    margin-left: 0px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 23px;
  }
  #numbers p {
    font-size: 20px;
    margin-top: -5px;
  }
  section.jumbotron {
    margin-bottom: 0 !important;
  }
  div.row {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  div#see-power {
    width: 42px;
    height: 42px;
    margin-left: 0;
    margin-right: 7px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-power-special {
    width: 42px;
    height: 42px;
    margin-left: 0;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-lotto {
    width: 42px;
    height: 42px;
    margin-left: 0;
    margin-right: 7px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  div#see-lotto-special {
    width: 42px;
    height: 42px;
    margin-left: 0;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
@media (max-width: 320px) {
  section.jumbotron {
    background-image: url(lottosmall.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  h1 {
    font-size: 1.8rem;
  }
  #lotteryNumbers p.lead {
    font-size: 21px;
  }

  #numbers p {
    font-size: 18px;
    margin-top: -2px;
  }
  section.jumbotron {
    margin-bottom: 0 !important;
  }
  div.row {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  div#see-power {
    width: 42px;
    height: 42px;
    margin-left: 0;
    margin-right: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  div#see-power-special {
    width: 42px;
    height: 42px;
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  div#see-lotto {
    width: 42px;
    height: 42px;
    margin-left: 0;
    margin-right: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  div#see-lotto-special {
    width: 42px;
    height: 42px;
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .card-header a {
    font-size: 12px;
  }
}
